In [56]:
import pandas as pd
import json
from pandas.io.json import json_normalize

In [17]:
filename ='/Users/jackbonacci/Downloads/data_wrangling_json 3/data/world_bank_projects.json'

In [21]:
with open(filename, 'r') as file:
    data = pd.read_json(file)

In [22]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [41]:
trimmed= data[['countryshortname','theme_namecode','themecode','totalamt']]

In [42]:
print(trimmed.head())

     countryshortname                                     theme_namecode  \
0            Ethiopia      [{'code': '65', 'name': 'Education for all'}]
1             Tunisia  [{'code': '24', 'name': 'Other economic manage...
2              Tuvalu  [{'code': '47', 'name': 'Regional integration'...
3  Yemen, Republic of  [{'code': '57', 'name': 'Participation and civ...
4             Lesotho  [{'code': '45', 'name': 'Export development an...

     themecode   totalamt
0           65  130000000
1        54,24          0
2  52,81,25,47    6060000
3        59,57          0
4        41,45   13100000

In [51]:
number_one = trimmed.countryshortname.value_counts()

In [52]:
print(number_one.head(10))

China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Morocco               12
Nepal                 12
Bangladesh            12
Africa                11
Mozambique            11
Name: countryshortname, dtype: int64

In [53]:
number_two = json.load((open(filename)))

In [80]:
number_two_norm = json_normalize(number_two, 'mjtheme_namecode')
print(number_two_norm.head())

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

In [133]:
print(type(number_two_norm))

<class 'pandas.core.frame.DataFrame'>

In [134]:
top10 = (number_two_norm.code.value_counts().head(10))

In [138]:
last = pd.DataFrame(0, columns=['Description','Project_code','times'], index =range(0,10))
for i in range(10):
    last.Project_code[i] = top10.index[i]
    names = number_two_norm[number_two_norm.code==top10.index[i]].name
    last.Description[i] = names.value_counts().index[0]
    last.times[i] = top10[i]
last

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                                    Description  Project_code  times
0  Environment and natural resources management            11    250
1                             Rural development            10    216
2                             Human development             8    210
3                      Public sector governance             2    199
4         Social protection and risk management             6    168
5      Financial and private sector development             4    146
6                   Social dev/gender/inclusion             7    130
7                         Trade and integration             5     77
8                             Urban development             9     50
9                           Economic management             1     38

In [139]:
missing = number_two_norm[number_two_norm.name=='']
present = number_two_norm[number_two_norm.name!='']

In [140]:
for x in missing.code.index:
    for y in present.code.index:
        if missing.code[x] ==present.code[y]:
            missing.name[x]=present.name[y]
            break
        else:
            continue

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [141]:
together = [missing, present]
together_df = pd.concat(together).sort_index()
print(together_df.head())

  code                                          name
0    8                             Human development
1   11  Environment and natural resources management
2    1                           Economic management
3    6         Social protection and risk management
4    5                         Trade and integration